@model UserDetailsViewModel

<hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="">@Model.UserName</h1>
            @if (this.User.Identity.Name == Model.UserName)
            {
                <a asp-controller="Manage" asp-action="Index" class="btn btn-success">Edit my profile!</a>
            }
            <button type="button" class="btn btn-info">Send me a message</button>
            <br>
        </div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.rlsandbox.com/img/profile.jpg"></a>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">
                    Profile
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left">
                        <strong class="">Joined</strong>
                    </span>@Model.RegisteredOn.ToShortDateString()
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left">
                        <strong class="">Last seen</strong>
                    </span> @Model.LastSeen.ToShortDateString()
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left">
                        <strong class="">Role:</strong>
                    </span> @Model.Role
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left">
                        <strong class="">Phone number:</strong>
                    </span> @Model.PhoneNumber
                </li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Website <i class="fa fa-link fa-1x"></i>
                </div>
                <div class="panel-body">
                    <a href="http://bootply.com" class="">sample.com</a>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item text-muted">
                    Activity <i class="fa fa-dashboard fa-1x"></i>
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Projects</strong></span> @Model.Projects.Count</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i> github.com add github <i class="fa fa-github fa-2x"></i>
                    <i class="fa fa-twitter fa-2x">twitter</i>
                    <i class="fa fa-pinterest fa-2x">pintereset</i>
                    <i class="fa fa-google-plus fa-2x">google plus</i>
                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" contenteditable="false" style="">
            <div class="panel panel-default">
                <div class="panel-heading">@Model.UserName's Bio</div>
                <div class="panel-body">
                    @if (string.IsNullOrEmpty(Model.Biography))
                    {
                        <p>Not updated yet...</p>
                    }
                    else
                    {
                        @Model.Biography
                    }

                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">My projects</div>
                <div class="panel-body">
                    <div class="row">
                        @foreach (var item in Model.Projects)
                        {
                            <a asp-controller="Projects" asp-action="Details" asp-route-id="@item.Id">
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <h3 class="row text-center">
                                                @item.Title.Substring(0, 15)...
                                            </h3>
                                            <p class="row text-center">
                                                @if (item.Description.Length <= 50)
                                                {
                                                    @item.Description
                                                }
                                                else
                                                {
                                                    @item.Description.Substring(0, 50)
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/plugins/bootstrap-select.min.js"></script>
    <script src="/codemirror/jquery.codemirror.js"></script>
    <script src="/beautifier.js"></script>
    <script src="/plugins/bootstrap-pager.js"></script>
</div>