@model List<AdminProjectListingViewModel>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="width:100%; height:500px">
        <div class="item active">
            <img src="http://www.tribalreport.com/wp-content/uploads/2017/01/freelance.jpg" alt="image1">
        </div>

        <div class="item">
            <img src="https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/wp-cms/uploads/2017/10/p-1-no-we-wont-all-be-freelancers-in-the-future-of-work.jpg" alt="Chicago">
        </div>

        <div class="item">
            <img src="https://www.raconteur.net/wp-content/uploads/2016/09/Growth-of-the-freelance-industry-1280x720.jpg" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container well-lg">
    <h2 class="text-center text-capitalize">latest projects</h2>

    <br />
    
    @if (Model.Count == 0)
    {
        <h1>No posted projects yet</h1>
    }
    else
    {
        @foreach (var project in Model)
        {
            <div class="col-md-3">
                <div class="thumbnail">

                    <div class="wrapper">
                        <div class="caption post-content">
                            <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id" style="text-decoration:solid;  ">
                                <h4>@project.Title</h4>
                            </a>
                            <span><strong>Bids:</strong> @project.BidsCount</span>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="post-meta">
                            <small>
                                project by
                                <a asp-controller="Users" asp-action="Details" asp-route-username="@project.Owner">
                                    @project.Owner
                                </a>
                            </small>
                            <div class="price">@project.Budget.LowerBound - @project.Budget.HigherBound</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>