@model IEnumerable<AdminProjectListingViewModel>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Owner
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Budget
            </th>
            <th>
                Active
            </th>
            <th>
                Completed
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Users" asp-action="Details" asp-route-username="@item.Owner">@item.Owner</a>
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Description.Substring(0, 15)...
                </td>
                <td>
                    @item.Budget.LowerBound - @item.Budget.HigherBound
                </td>
                <td>
                    @if (!item.IsActive)
                    {
                        @Html.ActionLink("Activate", "Activate", new { area = "Admin", id = item.Id, })
                    }
                    else
                    {
                        @Html.ActionLink("Deactivate", "Deactivate", new { area = "Admin", id = item.Id, })
                    }
                </td>
                <td>
                    @(item.IsCompleted ? "Yes" : "No")
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        @Html.ActionLink("Edit", "Edit", new { area = "", id = item.Id, }) <span> |</span>
                        @Html.ActionLink("Details", "Details", new { area = "", id = item.Id, }) <span> |</span>
                        @Html.ActionLink("Delete", "Delete", new { area = "Admin", id = item.Id, })
                    }
                    else
                    {
                        <p>Activate project in order to perform actions</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>