@model IEnumerable<AdminProjectListingViewModel>

@Html.Partial("_MessagesPartial")


<h2 class="text-center" style="margin-bottom:50px">All Projects</h2>

<br/>

<div class="container">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <!--div class="well well-sm"-->

                @if (!Model.Any())
                {<div class="row col-md-offset-2">
                    <div class="panel panel-default panel-horizontal">
                        <div class="panel-footer text-center" style="width:4em;">
                        </div>
                        <div class="panel-body text-center">
                            <!--div class="col-xs-2 col-md-3 text-center age">
                                <img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=John%20Doe&w=200&h=200" class="img-circle img-responsive" alt="" />
                            </div-->
                            <div class="col-xs-12 col-md-12 section-box">
                                <h1>No posted projects yet</h1>
                            </div>
                        </div>
                        <div class="panel-footer text-center" style="width:4em;">
                        </div>
                    </div>
                </div>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <div class="row col-md-12">
                            <div class="panel panel-default panel-horizontal">
                                <div class="panel-heading text-center" style="width:10em;">
                                    <span><strong>Bids:</strong> @item.BidsCount</span>
                                    <hr />
                                    <div class="email" style="padding-top: 10px;">@item.Owner</div>
                                </div>

                                <div class="panel-body">

                                    <!--div class="col-xs-2 col-md-3 text-center age">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=John%20Doe&w=200&h=200" class="img-circle img-responsive" alt="" />
                                    </div-->
                                    <div class="col-xs-12 col-md-12 section-box">
                                        <a style="color:inherit; text-decoration:none" asp-controller="Projects" asp-action="Details" asp-route-id="@item.Id">
                                            <div class="email" style="padding-top: 10px;">@item.Owner</div>
                                            <h2>
                                                @item.Title
                                            </h2>
                                            <p>
                                                @if (item.Description.Length > 180)
                                                {
                                                    <span>@item.Description.Substring(0, 179)...</span>
                                                }
                                                else
                                                {
                                                    <span>@item.Description</span>
                                                }
                                            </p>
                                            <hr />
                                        </a>
                                        <div class="row rating-desc">
                                            <div class="col-md-12">
                                                <span class="glyphicon glyphicon-comment"></span>(@item.BidsCount Bids)<span class="separator">|</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-footer text-center" style="width:4em;">
                                    @if (this.User.Identity.Name == item.Owner
                                      || this.User.IsInRole("Administrator")
                                      || this.User.IsInRole("Moderator"))
                                    {
                                        <a asp-controller="Projects" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" style="width:80px">Edit</a>
                                        <br />
                                        <br />
                                        <a asp-controller="Projects" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="width:80px">Delete</a>
                                    }
                                </div>

                            </div>
                        </div>
                    }
                }
                <!--/div-->
            </div>
        </div>
    </div>
</div>
