@model IEnumerable<AdminProjectListingViewModel>

@Html.Partial("_MessagesPartial")

@*SEARCH BAR*@
<div class="container">
    <div class="row" style="padding-top:20px">
        <form method="get" asp-controller="Projects" asp-action="All">
            <div class="col-md-offset-2 col-md-2">
                <div class="form-group">
                    <select size="1" asp-items="@ViewBag.Categories" name="categoryId">
                        @if (ViewBag.SelectedCategoryName != null)
                        {
                            <option disabled value="@ViewBag.SelectedCategoryId">@ViewBag.SelectedCategoryName</option>
                        }
                        <option value="">Choose category</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    @*<input type="hidden" name="searchParameter" value="all">*@
                    <input type="text" class="form-control" name="searchTerm" value="@(ViewBag.SearchTerm == null ? "" : $"{ViewBag.SearchTerm}")" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.SelectedCategoryName != null)
{
    <h2 class="text-center" style="margin-bottom:20px; margin-top:20px;">Products in category - @ViewBag.SelectedCategoryName</h2>
}

<br />

<div class="container">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <!--div class="well well-sm"-->

                @if (!Model.Any())
                {<div class="row col-md-offset-2">
                    <div class="panel panel-default panel-horizontal">
                        <div class="panel-footer text-center" style="width:4em;">
                        </div>
                        <div class="panel-body text-center">
                            <!--div class="col-xs-2 col-md-3 text-center age">
                                <img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=John%20Doe&w=200&h=200" class="img-circle img-responsive" alt="" />
                            </div-->
                            <div class="col-md-12 col-md-12 section-box">
                                <h1>No posted projects yet</h1>
                            </div>
                        </div>
                        <div class="panel-footer text-center" style="width:4em;">
                        </div>
                    </div>
                </div>
                }
                else
                {
                    @foreach (var project in Model)
                    {
                        <div class="row col-md-12">
                            <div class="panel panel-default panel-horizontal">
                                <div class="panel-heading text-center" style="width:10em;">
                                    <span><strong>Bids:</strong> @project.BidsCount</span>
                                    <hr />
                                    <div class="email" style="padding-top: 10px;">@project.Owner</div>
                                </div>

                                <div class="panel-body">

                                    <!--div class="col-xs-2 col-md-3 text-center age">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=40&txt=John%20Doe&w=200&h=200" class="img-circle img-responsive" alt="" />
                                    </div-->
                                    <div class="col-md-12 col-md-12 section-box" style="width:100%">
                                        <a style="color:inherit; text-decoration:none" asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">
                                            <div class="email" style="padding-top: 10px;">@project.Owner</div>
                                            <h2>
                                                @project.Title
                                            </h2>
                                            <hr />
                                        </a>
                                        <div class="row rating-desc">
                                            <div class="col-md-12">
                                                <span class="glyphicon glyphicon-comment"></span>(@project.BidsCount @(project.BidsCount <= 1 ? "Bid" : "Bids" ))
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-footer text-center" style="width:4em;">
                                    @if (this.User.Identity.Name == project.Owner
                                      || this.User.IsInRole("Administrator")
                                      || this.User.IsInRole("Moderator"))
                                    {
                                        <a asp-controller="Projects" asp-action="Edit" asp-route-id="@project.Id" class="btn btn-primary" style="width:80px">Edit</a>
                                        <br />
                                        <br />
                                        <a asp-controller="Projects" asp-action="Delete" asp-route-id="@project.Id" class="btn btn-danger" style="width:80px">Delete</a>
                                    }
                                </div>

                            </div>
                        </div>
                    }
                }
                <!--/div-->
            </div>
        </div>
    </div>
</div>
