@model FreelanceSite.Services.CommonViewModels.ProjectDetailsViewModel

<div class="container" style="margin-top:50px">
    <div class="well col-lg-offset-2 col-lg-8" style="background-color:white">
        <div class="col-md-1">
            <p style="">Bids</p>
            <p><strong style="font-size:25px">44</strong></p>
        </div>
        <div class="col-md-4">
            <p class="text-center">Project budget</p>
            <p class="text-center"><strong style="font-size:25px;">@Model.Budget.LowerBound - @Model.Budget.HigherBound</strong></p>
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px">
    <div class="well col-lg-offset-2 col-lg-8" style="background-color:white">
        <h3><strong>Project description</strong></h3>
        <div class="row" style="margin-top:30px; padding-left:15px; padding-right:30px;">
            @Model.Description
        </div>

        <br />

        <h4><strong>Skills required</strong></h4>
        <div class="row" style="margin-top:10px; padding-left:15px; padding-right:30px;">
            @Model.Skills
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>